@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Jua', sans-serif;
  color: #625E53;
  background-color: #EA9245;
  background-image: url('/bgtexture.png');
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: soft-light;
}

.jua {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

@font-face {
  font-family: 'HeavyWei';
  src: url('/fonts/HEAVYWEI.woff') format('woff');
}

.heavywei {
  font-family: 'HeavyWei', sans-serif;
}

.page-outline {
  min-height: 100vh;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline wavy;
}

.glow:hover {
    filter: drop-shadow(0 0 8px #E5DA03);
}